:root {
  --cor-fundo: #ffffff;
  --cor-texto: #000000;
  --cor-primaria: #1e90ff;
  --cor-segundaria: #87cefa;
}
body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  margin: 0;
  padding: 18px;
  box-sizing: border-box;
  border-radius: 40px;
}
button {
  background-color: var(--cor-primaria);
  color: var(--cor-fundo);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
li {
  list-style: none;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #919191;
  display: flex;
}

.navegacao {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.navegacao ul {
  display: flex;
  gap: 10px;
}
.navegacao ul li {
  cursor: pointer;
}
.navegacao ul li:hover {
  color: var(--cor-primaria);
}
.perfil_container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.perfil {
  background-color: #87cefa;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
main {
  background-color: aqua;
  width: 100%;
  margin-top: 62px;
  max-width: 980px;
  height: 100%;
}
label,
input {
  margin-bottom: 10px;
}
.produto-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  max-width: 800px;
  padding: 20px;
  margin-top: 80px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.produto-imagem img {
  max-width: 400px;
  border-radius: 10px;
}

.produto-detalhes {
  width: 50%;
}

.produto-detalhes h1 {
  font-size: 2rem;
  color: var(--cor-primaria);
}

.produto-detalhes .preco {
  font-size: 1.5rem;
  color: var(--cor-primaria);
  font-weight: bold;
  margin-top: 10px;
}

.produto-detalhes .descricao {
  font-size: 1rem;
  margin-top: 20px;
  color: #444;
}

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card {
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0px 0px 20px #eee;
}
.login-form {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
input {
  width: 100%;
  border: 1px solid #919191;
  border-radius: 5px;
  padding: 5px;
}
.hide {
  display: none;
}
