<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sing in Page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/global.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="login-header">
        <img
          src="{{ url_for('static', filename='imagens/cb-icon.svg') }}"
          alt=""
        />
        <span>Crie a sua conta!</span>
      </div>
      <form class="login-form" id="senhaForm">
        <div class="login-form-container">
          <div class="form-item">
            <label for="email">Seu email</label>
            <input type="text" id="email" value="{{ email }}" disabled />
          </div>
          <div class="form-item">
            <label for="password">Digite uma senha</label>
            <img class="show-password" src="" alt="" />
            <input
              type="password"
              id="senha"
              class="required-singin required-singin-password"
            />
            <div class="singin-error password-error hide">
              A senha tem que conter ao menos 8 caracteres.
            </div>
          </div>
          <div class="form-item">
            <label for="password">Confirme a senha</label>
            <img class="show-password" src="" alt="" />
            <input
              type="password"
              id="confirmar-senha"
              class="required-singin required-singin-password"
            />
            <div class="singin-error password-error hide">
              Senhas tem que ser iguais.
            </div>
          </div>
          <div class="form-item-checbox">
            <div class="checkbox">
              <input type="checkbox" id="terms" />
              <label for="terms" class="checkboxLabel">Aceite os </label
              ><a href="#">Termos de Uso</a>
            </div>
          </div>
          <button type="submit" class="singin-button block">Prosseguir</button>
        </div>
      </form>
    </div>
    <script
      type="module"
      src="{{ url_for('static', filename='scripts/script.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='scripts/validateSingin.js') }}"
    ></script>
  </body>
</html>
