{% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/inicio.css') }}" />
{% endblock %} {% extends 'index.html' %} {% block busca %}
<div id="busca">
  <form id="busca-form">
    <div class="busca-campo">
      <input id="texto-busca" type="text" placeholder="Buscar produto" />
      <button id="busca-btn" type="submit">busca</button>
    </div>
    <div class="ordenar-campo">
      <label for="categorias">Ordenar:</label>
      <select id="ordenar" nome="ordenar" value="ordenar">
        <option value="Recentes" selected>Recentes</option>
        <option value="Mais Barato">Mais Barato</option>
        <option value="Mais Caro">Mais Caro</option>
        <option value="Ofertas">Ofertas</option>
      </select>
    </div>
  </form>
</div>
{% endblock %} {% block content %}
<div class="section-container"></div>
{% endblock %} {% block extra_js %}
<script
  type="module"
  src="{{ url_for('static', filename='scripts/inicio.js') }}"></script>
<script
  type="module"
  src="{{ url_for('static', filename='scripts/busca.js') }}"></script>
{% endblock %}
