{% extends 'index.html' %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/overview.css') }}"
/>
{% endblock %} {% block content %}

<div id="overview"></div>

{% endblock %} {% if status == "approved" %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Exemplo usando Toastify.js
    Toastify({
      text: "Pagamento aprovado!",
      duration: 3000,
      gravity: "top",
      position: "center",
      backgroundColor: "#28a745",
    }).showToast();
  });
</script>
{% endif %} {% block extra_js %}
<script id="orders-data" type="application/json">
  {{ order | tojson }}
</script>
<script
  type="module"
  src="{{ url_for('static', filename='scripts/overview.js') }}"
></script>
{% endblock %}
