@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600&family=Poppins:wght@200;300;600&display=swap");

:root {
  --color-font: #2b2d33;
  --color-background: #ffffff;
  --color-background-secunario: #f2f2f2;
  --color-hover: #dddddd;
  --color-primary: #2b58ff;
  --color-secondary: #2bdfff;
  --color-inputs: #fff;
  --color-border: #ccc;
  --radius-pattern: 15px;
  --color-error: #df5b5b;
  --color-success: #49e27c;
  --color-warning: #eee567;
  --color-darker: #e0e0e0;
}
body.dark {
  --color-font: #f2f2f2;
  --color-background: #1e1f24;
  --color-background-secunario: #2b2d33;
  --color-hover: #545763;
  --color-primary: #5eb6ff;
  --color-secondary: #2bdfff;
  --color-inputs: #474a55;
  --color-border: #73747a;
  --radius-pattern: 15px;
  --color-error: #df5b5b;
  --color-success: #49e27c;
  --color-warning: #eee567;
  --color-darker: #1d1d1d;
}
body {
  background-color: var(--color-background-secunario);
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  color: var(--color-font);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  outline: none;
}

input {
  background-color: var(--color-background-secunario);
  color: var(--color-font);
}

.login-header img {
  width: 120px;
}

a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

.hide {
  display: none !important;
}

.login-header {
  margin: 20px 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-header span {
  margin-bottom: 30px;
  margin-top: 15px;
}

.form-item {
  margin-bottom: 30px;
  position: relative;
}

.form-item-checbox {
  margin-bottom: 10px;
}

.login-form {
  width: 75%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-pattern);
  height: 650px;
  width: 33%;
  min-width: 460px;
}

.form-item label:not(.checkboxLabel) {
  display: inline-block;
  background-color: var(--color-background-secunario);
  margin-bottom: 10px;
  position: absolute;
  padding: 0 10px;
  transform: translate(30px, -12px);
}

input[type="text"],
input[type="password"],
input[type="number"] {
  border: 1px solid var(--color-border);
  border-radius: 55px;
  height: 55px;
  padding: 0 2rem;
  width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  border: 2px solid var(--color-primary);
  border-radius: 55px;
  height: 55px;
  padding: 0 2rem;
  width: 100%;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 7px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: var(--color-primary);
}

/*==================BUTTONS================*/

.login-button {
  font-size: 1.4rem;
  position: relative;
  width: 100%;
  height: 55px;
  border-radius: 55px;
  color: #fff;
  border: none;
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
  cursor: pointer;
  margin-bottom: 30px;
}

.login-button:after {
  color: #fff;
  border-radius: 55px;
  content: "Login";
  position: absolute;
  padding-top: 10.6px;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-image: linear-gradient(
    45deg,
    var(--color-secondary),
    var(--color-primary)
  );
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.login-button:hover:after {
  opacity: 1;
}

.singin-button {
  position: relative;
  font-size: 1.4rem;
  width: 100%;
  height: 55px;
  border-radius: 55px;
  color: #fff;
  border: none;
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
  cursor: pointer;
  margin-bottom: 10px;
  transition: linear-gradient 0.5s ease;
}

.singin-button:after {
  color: #fff;
  border-radius: 55px;
  content: "Sing In";
  position: absolute;
  padding-top: 11px;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-image: linear-gradient(
    45deg,
    var(--color-secondary),
    var(--color-primary)
  );
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.singin-button:hover:after {
  opacity: 1;
}

.block {
  pointer-events: none;
  opacity: 0.5;
}

/*==================AND OF BUTTONS================*/

.login-form-footer a {
  gap: 5px;
  border: 1px solid #ccc;
  border-radius: 100px;
  height: 55px;
  justify-content: center;
  display: flex;
  padding: 0.6rem;
  align-items: center;
  color: black;
  text-decoration: none;
}

.login-form-footer a:hover {
  background-color: #eee;
}

.login-form-footer {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 30px;
}

.if-not-have-accont {
  display: flex;
  justify-content: center;
}

.form-item-checbox {
  display: flex;
  flex-direction: colum;
  justify-content: space-between;
}

.singin-error,
.login-error,
.dinamic-error {
  color: var(--color-error);
  font-size: 0.9rem;
  position: absolute;
  margin-left: 20px;
}

.show-password {
  width: 30px;
  position: absolute;
  right: 0;
  margin: 15px;
  cursor: pointer;
}
.toggle-container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 50px;
  overflow: hidden;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}

.toggle-container input[type="radio"] {
  display: none;
}

.toggle-option {
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  background-color: white;
  transition: background-color 0.3s, color 0.3s;
}

input[type="radio"]#cliente:checked + label[for="cliente"],
input[type="radio"]#loja:checked + label[for="loja"] {
  background-color: blue;
  color: white;
}

textarea {
  width: 100%;
  min-height: 140px;
  padding: 20px;
  background-color: var(--color-background);
  border-radius: 30px;
  border: 1px solid var(--color-border);
}
.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 200px;
  background: rgba(255, 255, 255, 0.8); /* Leve transparência */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-radius: 8px; /* Bordas arredondadas para o fundo */
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #007bff; /* Cor azul moderna */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras para um efeito 3D */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hovered:hover {
  background-color: var(--color-hover);
  color: var(--color-primary);
  transition: all 0.3s;
}
.rotate {
  transform: rotate(180deg);
}
#cart {
  width: 40px;
  height: 40px;
}
.btn_entrar,
.btn_sair {
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
}
.btn_entrar,
.btn_sair {
  color: var(--color-background) !important;
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
}
.btn_entrar:hover,
.btn_sair:hover {
  background: linear-gradient(
    45deg,
    var(--color-secondary),
    var(--color-primary)
  );
}
.produto-navegation {
  border-top: 1px solid var(--color-border);
  display: flex;
  gap: 20px;
  padding: 10px;
  justify-content: center;
}
.produto-navegation input {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 30px;
}
.produto-navegation input[type="button"] {
  cursor: pointer;
  border: none;
  border-radius: 50%;
}
#modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.192);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-carrinho {
  background-color: var(--color-background);
  border-radius: 20px;
  min-width: 200px;
  min-height: 220px;
  max-width: 500px;
  max-height: 60%;
  padding: 20px;
}
.modal-container {
  max-height: 445px;
  overflow-y: overlay;
  overflow-x: hidden;
  scrollbar-gutter: stable both-edges;
  box-sizing: border-box;
  padding-bottom: 10px;
}
.itens-carrinho {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.itens-carrinho::-webkit-scrollbar {
  width: 8px;
}

.itens-carrinho::-webkit-scrollbar-track {
  background: var(--color-background);
  border-radius: 10px;
}

.itens-carrinho::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 10px;
}

.itens-carrinho::-webkit-scrollbar-thumb:hover {
  background: #999;
}
.itens-carrinho li {
  display: flex;
  align-items: center;
  height: 80px;
  max-width: 420px;
  background-color: var(--color-background);
  min-width: 0;
}
.itens-carrinho li .img {
  height: 60px;
  width: 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}
.itens-carrinho li .img img {
  height: 60px;
  width: auto;
}
.itens-carrinho li input {
  width: 30px;
  height: 1.2rem;
}

.cart-item-desc {
  display: flex;
  flex-direction: column;
  flex: 8;
}
.cart-item-desc div {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 350px;
  min-width: 0;
}
.cart-item-desc div p {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.cart-item-desc div input {
  padding: 0 0 0 8px;
  width: 40px;
}
.cart-item-desc div button:hover {
  scale: 105%;
}
.item-asc,
.item-desc {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-asc {
  background-color: var(--color-success);
}
.item-desc {
  background-color: var(--color-error);
}
.removeCartItem:hover {
  color: var(--color-error);
}

.removeCartItem svg {
  width: 22px;
  height: 22px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
